.auth{
    display: flex;

    aside{
        width: 50%;
        padding: 5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left{
        text-align: center;


        .lottie{
            pointer-events: none;
        }


        h1{
            font-size: 4rem;
            span{
                color: $primary;
            }
        }
    }

    .right{
        background-color: #1c1c1c;

        .switch{
            font-size: 1.25rem;
            margin-top: 3rem;
            filter: brightness(2);

            span{
                color: rgba($color: $primary, $alpha: 0.8);
                margin-left: .25rem;
                cursor: pointer;
            font-size: 1.35rem;

            }
        }

        h1{
            font-size: 4rem;
        //    color: #ccc;
        }

        form{
            margin-top: 2rem;
        }
    }

    .button{
        margin-top: 1rem;
    }


    &--login{
        .input{
            margin: 3rem 0;
        }
     
        .forgot{
            font-size: 1.25rem;
            margin-top: -2rem;
            text-align: right;
            width: 70%;
            cursor: pointer;
            text-decoration: underline;
            opacity: .75;
            transition: .2s all;

            &:hover{
                opacity: 1;
            }
        }
    }

    &--register{

        .input{
            width: 100%;
            margin: 1rem 0;

            .input-container{
                width: 100%;
            }
        }

        section{
            display: flex;

            .input{
                &:first-of-type{
                    margin-right: 1rem;
                }

                &:last-of-type{
                    margin-left: 1rem;
                }
            }
            
        }
    }
}