.home{
    display: flex;

    nav{
        width: 17.5rem;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #fff1;

        a{
            width: 100%;
            padding: 1rem;
            font-size: 1.5rem;
            transition: .2s all;

            i{
                width: 2.75rem;
            }

            &:hover{
                background-color: #1e1e1e;

                color: $primary;


            }
        }

        .link-active{
            background-color: #1e1e1e;
            color: $primary;

        }

        .bottom{
            margin-top: auto;
        }

        .companion{
            width: 100%;
            padding: 1rem;
            font-size: 1.15rem;
            background-color: #1e1e1e;
            color: #fefefe;
            margin-bottom: 2rem;
            i{
                width: 2.5rem;
                transition: .2s all;
            }

            &:hover{
                i{
                    color: $primary;
                }
            }
        }

        .logout{
            width: 100%;
            padding: 1rem;
            font-size: 1.15rem;
            background-color: #1e1e1e;
            color: #fefefe;
            i{
                width: 2.5rem;
                transform: rotate(180deg);
                transition: .2s all;
            }

            &:hover{
                i{
                    color: $primary;
                }
            }
        }

        img{
            width: 4rem;
            margin-left: 1rem;
            margin-bottom: 3rem;
        }
    }

    main{
        flex: 1;

        .section{
            .main-heading{
                color: #fff;
                margin: 2rem 2rem;
                font-size: 4rem;
                letter-spacing: 2px;
                text-align: center;
            }
        }
    }
}

.feed{
    display: flex;
    main{
        flex: 3;
        min-height: 100vh;
        max-height: 100vh;
        overflow: auto;
    }
    aside{
        flex: 1;
        min-height: 100vh;
        max-height: 100vh;
        overflow: auto;
        text-align: center;
        padding: 2rem 1rem;
        border-left: 1px solid #fff1;



    }
}